:root {
    font-size: 10px;
}

body {
    font-family: $body;
    color: $dark;
    background-color: $light;
    font-size: 1.6rem;
    letter-spacing: 0.02em;
}

a {
    display: block;
    color: $secondary;
}

button,
input,
textarea {
    border: none;
    color: $dark;
    background-color: $light;
}

.title {
    font-size: 5rem;
}
