$cyber-grape: #533a71;
$glaucous: #6184d8;
$medium-turquoise: #50c5b7;
$inchworm: #9cec5b;
$icterine: #f0f465;

$black: #070707;
$white: #ffffff;

$primary: $inchworm;
$secondary: $icterine;
$interact: $glaucous;
$text: $cyber-grape;
$extra: $medium-turquoise

